<!-- <div id="main_pages">
	<div class="m_page">Questions</div>
	<div class="m_page">Genres</div>
	<div class="m_page">DAWs</div>
	<div class="m_page">Tags</div>
	<div class="m_page">Users</div>
</div> -->

	<div id="mainbar">
	<h1>QUESTIONS</h1>
		<ul>
		<% @questions.each do |q| %>
			<li><%= q.title %></li>
		<% end %>
		</ul>
	</div>
	<div id="sidebar">
		ads
	</div>
