<div class="page_container">
	<% if current_user %>
		<h1>Welcome <%= @user.name.capitalize %>.</h1>

		<div class="mainbar">
			<header>Feed Activity</header>
		</div>
		<div class="sidebar">TEST</div>
	<% end %>
</div>