<div class="page_container">
	<% if current_user %>
		<h1>Welcome <%= @user.name %></h1>

		<div class="mainbar">TEST</div>
		<div class="sidebar">TEST</div>
		
		<%= @user.email %><%= button_to "Sign out", signout_path, method: "delete" %>
	<% end %>
</div>