<H1>PAUSM</H1>
<div id="homediv">Placeholder</div>

<div class="home_entries">
	<article class="article_wrapper"><div class="home_entry">Random Question 1</div></article>
	<article class="article_wrapper"><div class="home_entry">Random Question 2</div></article>
	<article class="article_wrapper"><div class="home_entry">Random Question 3</div></article>
</div>
