<div class="page_container">
	<h1>Digital Audio Workstations</h1>

	<article class="daw_container"><div class="daw_name">POPULAR</div></article>
	<article class="daw_container"><div class="daw_name">ABLETON</div></article>
	<article class="daw_container"><div class="daw_name">AVID PROTOOLS</div></article>
	<article class="daw_container"><div class="daw_name">LOGIC</div></article>
	<article class="daw_container"><div class="daw_name">REASON</div></article>
	<article class="daw_container"><div class="daw_name">GARAGEBAND</div></article>
	<article class="daw_container"><div class="daw_name">MOTU DIGITAL PERFORMER</div></article>
	<article class="daw_container"><div class="daw_name">CUBASE</div></article>
	<article class="daw_container"><div class="daw_name">FL STUDIO</div></article>
</div>