<div class="page_container">
	<h1>GENRES</h1>

	<article class="genre_container"><div class="genre_name">DANCE</div></article>
	<article class="genre_container"><div class="genre_name">HIPHOP</div></article>
	<article class="genre_container"><div class="genre_name">INDIE</div></article>
	<article class="genre_container"><div class="genre_name">ELECTRONIC</div></article>
	<article class="genre_container"><div class="genre_name">POP</div></article>
	<article class="genre_container"><div class="genre_name">EXPERIMENTAL</div></article>
</div>