<div class="page_container">
	<h1>Search By Category</h1>
	<article class="category_container">
		<div class="category_name">
			<ul>
				<li>
					<ul>
						<li class="c_list">DANCE</li>
            <li class="c_list">HIPHOP</li>
            <li class="c_list">INDIE</li>
            <li class="c_list">ELECTRONIC</li>
            <li class="c_list">POP</li>
            <li class="c_list">EXPERIMENTAL</li>
					</ul>
					<p>Genre</p>
				</li>
			</ul>
		</div>
	</article>
	<article class="category_container">
		<div class="category_name">
			<ul>
				<li>
					<ul>
						<li class="c_list">POPULAR</li>
            <li class="c_list">ABLETON</li>
            <li class="c_list">AVID PROTOOLS</li>
            <li class="c_list">LOGIC</li>
            <li class="c_list">REASON</li>
            <li class="c_list">GARAGEBAND</li>
            <li class="c_list">DIGITAL PERFORMER</li>
            <li class="c_list">CUBASE</li>
            <li class="c_list">FL STUDIO</li>
					</ul>
					<p>Software Console(DAW)</p>
				</li>
			</ul>
		</div>
	</article>
	<article class="category_container">
		<div class="category_name">
			<ul>
				<li>
					<ul>
						<li class="c_list">EQ</li>
            <li class="c_list">REVERB</li>
            <li class="c_list">ARPEGGIATOR</li>
            <li class="c_list">MIDI</li>
            <li class="c_list">COMPRESSORS</li>
            <li class="c_list">EXPERIMENTAL</li>
					</ul>
					<p>Plugins & Effects</p>
				</li>
			</ul>
		</div>
	</article>
</div>