.homediv {
	position: relative;
	background-image: asset-url('homestudio.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 780px;
	padding-top: 100px;
	margin: 0;
}

.glyphicon-expand {
	font-size: 170px;
	position: absolute;
	top: 170px;
	left: 44%;
	color: bisque;
	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: #3D3D3D;
	opacity: .9;
}

.glyphicon-expand:hover {
	color: white;
}

.glyphicon-repeat {
	display: none;
	font-size: 30px;
	position: absolute;
	top: 73%;
	right: 17%;
	color: bisque;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;
	z-index: 2;
}

.glyphicon-remove {
	display: none;
	font-size: 30px;
	position: absolute;
	top: 9%;
	right: 17%;
	color: bisque;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;
	z-index: 2;
}

// .homediv {
// 	position: relative;
// 	top: -70px;
// 	background-image: url(homestudio.jpeg);
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	width: 100%;
// 	height: 720px;
// 	padding-top: 100px;
// 	margin: 0;

// }

// .homeslider{
// 	width: 100%;
// 	height: auto;
// 	margin: 0;
// 	opacity: .9;
// 	margin-top: -70px;
// }

.hometext {
	margin-top: 370px;
	width: 70%;
	font-size: 80px;
	text-align: right;
	color: #d2315d;
	background-color: rgba(255, 255, 255, .68);
	position: absolute;
	top: 90px;
	opacity: .9;
	padding: 7px;
}

li {
	list-style-type: none;
}

#home_container {
	margin: 0;
	width: 100%;
	height: 400px;
	background-color: lightblue;
	position: absolute;
	margin-top: -200px;
}

.home_entries {
	width: 960px;
	margin: auto;
}

.article_wrapper {
	width: 33.3%;
	height: 400px;
	float: left;
}

.home_entry {
	text-align: center;
	line-height: 100px;
	font-size: 20px;
	width: 300px;
	height: 380px;
	margin: auto;
	background-color: honeydew;
	margin-top: 10px;
	opacity: .6;
	border: 4px solid crimson;
	color: white;
	-webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: white;
}

#entry-1 {
	background-image: asset-url('ableton-push-tour-02.png__1000x563_q85_crop_upscale.png');
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: opacity 250ms ease-in-out;
	// width: 100%;
}
#entry-1:hover {
	opacity: .9;

}

#entry-2 {
	background-image: asset-url('live_jam_on_ableton.png');
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: opacity 250ms ease-in-out;
	// width: 100%;
}
#entry-2:hover {
	opacity: .9;

}

#entry-3 {
	background-image: asset-url('push_04_72dpi_rgb.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: opacity 250ms ease-in-out;
	// width: 100%;
}
#entry-3:hover {
	opacity: .9;

}