<h1>Digital Audio Workstations</h1>

<div class="genre_name">DANCE</div>
<div class="genre_name">HIPHOP</div>
<div class="genre_name">INDIE</div>
<div class="genre_name">ELECTRONIC</div>
<div class="genre_name">POP</div>
<div class="genre_name">EXPERIMENTAL</div>